.cursive-header {
  font-family: "Cookie", cursive;
  font-size: 3rem;
}

.caption-header {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.header-small {
  font-size: 1.25rem;
}

.contact-text a {
  color: rgb(116, 0, 222)!important;
}

.bg-dark {
  background: #2F2F2F!important;
}

body {
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cookie", cursive;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
  z-index: 10;
  opacity: 0.9;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

.line-break {
  border-bottom: 3px solid #4b9a1b;
  border-image: linear-gradient(45deg, #3c7a16 0%, #65ce24 100%);
  border-image-slice: 1 1 1 1;
  width: 150px;
  margin: 20px auto;
}

.yellow {
  color: #3c7a16;
  font-weight: 600;
  background: -webkit-linear-gradient(#65ce24, #3c7a16);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow:hover {
  color: #feaa20;
  font-weight: 600;
  background: -webkit-linear-gradient(#ffd250, #feaa20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*********************
*** BORDER BUTTONS ***
*********************/
.border-button {
  background-color: white;
  color: #3c7a16;
  border: 2px #00bcdd solid;
  border-image: linear-gradient(45deg, #ffd250 0%, #ffd250 100%);
  border-image-slice: 1 1 1 1;
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  font-weight: 600;
  text-transform: uppercase;
  animation: float 5s ease-in-out infinite;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.border-button:hover {
  text-decoration: none;
  animation-play-state: paused;
  color: #e7bf44;
  border: 2px #00bcdd solid;
  border-image: linear-gradient(45deg, #65ce24 0%, #3c7a16 100%);
  border-image-slice: 1 1 1 1;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(-8px);
  }
  100% {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
    transform: translatey(0px);
  }
}

/**********************
*** SERVICES BUTTON ***
**********************/
.services-button {
  background-color: white;
  color: #2f2f2f;
  font-weight: bold;
  border: 3px #ffd250 solid;
  border-image: linear-gradient(45deg, #ffda6d 50%, #ffd250 100%);
  border-image-slice: 1 1 1 1;
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto auto 0;
  text-transform: uppercase;
  width: 200px;
}

.services-button:hover {
  text-decoration: none;
  background: #2f2f2f;
  color: #f0d37d;
}

/*****************
*** NAVIGATION ***
*****************/
nav {
  border-image: linear-gradient(45deg, #ffd250 0%, #feaa20 100%);
  background: #2F2F2F;
  border-image-slice: 1 1 1 1;
  box-shadow: -0.2em 0.2em 5px rgba(16, 24, 50, 0.1);
}

.nav-item a {
  color: #FFE680!important;
  letter-spacing: 1px;
}

.nav-item a:hover {
  color: #9C6AE7!important;
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.6)!important;
  letter-spacing: 1px;
  font-family: "Cookie", cursive;
}

.navbar-right .nav-item:last-child {
  margin-right: 0px;
}

.navbar-toggler {
  margin-top: 6px;
  border: none;
}

#navbarToggle {
  padding: 20px 0px;
  background: #2F2F2F;
}

#navbarToggle ul li {
  padding: 5px 0;
}

/*******************
*** HERO SECTION ***
*******************/
.section-header {
  padding: 40px 0 20px;
}

.img-header {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.header-img {
  align-self: center;
}

/********************
*** SERVICE CARDS ***
********************/
#services_section .col-lg-4 div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/*******************
*** MAIN CONTENT ***
*******************/
.block {
  padding: 30px 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.ny {
  color: #3d3c3a;
}

.moon-block {
  width: 900px;
}

.header-img img {
  max-width: 350px;
}

/* Media Queries */
/**************************/
@media screen and (min-width: 768px) {
  .nav-item {
    margin-right: 50px;
  }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  .block {
    padding: 40px;
    width: 620px;
  }
}

@media screen and (max-width: 767px) {
  .block {
    padding: 30px;
    width: 500px;
  }

  .header-img img {
    max-width: 250px;
  }

  .audience {
    margin: 20px auto;
  }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
  .block {
    padding: 30px 15px;
    width: 425px;
  }

  

  .header-img img {
    max-width: 200px;
  }
  
}

@media screen and (max-width: 478px) {
  .block {
    padding: 10px 15px;
    width: 320px;
  }
}


@media screen and (max-width: 767px) {
  .navbar-brand {
    letter-spacing: 3px;
    font-size: 30px;
  }

  #navbarToggle {
    position: absolute;
    border-bottom: 2px solid #dee2e6 !important;
    text-align: center;
    top: 70px;
    left: 0;
    width: 100%;
  }
}
