body {
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.smaller-lg {
  font-size: 2.5rem;
}

.witch-img {
  max-width: 120%;
  max-height: 500px;
  padding: 5vh 0;
}

@media screen and (max-width: 767px) {
  .witch-img {
    width: 90%;
    max-width: 400px;
    padding: 30px 0 0;
  }
}

/*************
*** NAVBAR ***
*************/
nav {
  font-weight: 400;
  height: 90px;
  background: white;
}

.navbar-toggler {
  margin-top: 6px;
  border: none;
}

.navbar-brand {
  letter-spacing: 1px;
}

#navbarToggle {
  padding: 20px 0px;
  background-color: white;
}

#navbarToggle ul li {
  padding: 5px 0;
}

/*******************
*** VIDEO HEADER ***
*******************/
#video-text {
  font-size: 4rem;
  letter-spacing: 8px;
}

.video-effect {
  height: 75vh;
  position: relative;
  background-color: black;
  overflow: hidden;
}

.video-effect .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.4;
  z-index: 1;
}

.video-effect video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-effect .container {
  position: relative;
  z-index: 2;
}

/****************
*** BIOGRAPHY ***
****************/
.artist-meet {
  background: url(bg1.png);
  background-size: cover;
}

/********************
*** BORDER BUTTON ***
********************/
.border-button {
  background-color: #fff;
  color: #101832;
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  text-transform: uppercase;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #000000 0%, #ff9800 100%);
  border-image-slice: 1 1 1 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
}

.border-button:hover {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border-image: linear-gradient(45deg, #ff9800 0%, #000000 100%);
  border-image-slice: 1 1 1 1;
}

/********************
*** PARALLAX PICS ***
********************/

/* Typography */
/**************************/

h2 {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

.lspace {
  letter-spacing: 2px;
  text-transform: none;
}

#parallax-world-of-ugg .definition {
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 3px;
}

#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.sc {
  color: #c47c60 !important;
}
.ny {
  color: #3d3c3a;
}
.atw {
  color: #c48660;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
}
#parallax-world-of-ugg .title h1 {
  font-size: 40px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}
#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
.overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 75px;
  padding-bottom: 75px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(bg2.png);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#parallax-world-of-ugg .parallax-two {
  padding-top: 75px;
  padding-bottom: 75px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(bg1.png);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}

/********************
*** SERVICE CARDS ***
********************/

.card {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15) !important;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(135deg, #ff9800 0%, #000000 100%);
  border-image-slice: 1 1 1 1;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    font-size: 17px;
  }

  nav {
    height: 70px;
  }

  .video-effect {
    height: 60vh;
  }

  .smaller-lg {
    font-size: 1.75rem;
  }

  #navbarToggle {
    position: absolute;
    border-bottom: 2px solid #dee2e6 !important;
    text-align: center;
    top: 70px;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .smaller-lg {
    font-size: 1.75rem;
  }

  .overlay-effect h1 {
    font-size: 3.25em;
  }
}

@media screen and (max-width: 400px) {
  .smaller-lg {
    font-size: 1.5rem;
  }
  .overlay-effect h1 {
    font-size: 2.25em;
  }
}

/********************
*** TESTIMONIALS ***
********************/

.testimonial-cont h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 40px;
}

.testimonial-cont h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #eb7500;
  left: 0;
  right: 0;
  bottom: -10px;
}

.profile-img {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.profile-img img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  font-style: italic;
}

.carousel .overview b {
  text-transform: uppercase;
  color: #eb7500;
}

.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 50%;
}

.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
